{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "eslintIntegration": true,
  "printWidth": 70,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "proseWrap": "always"
}
